
body {
  margin: 0;
  background: #333333;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #AAAAAA;
  background-color: #AAAAAA;
  background-image: linear-gradient(rgba(255,255,255,.2) 2px, transparent 1px),linear-gradient(90deg, rgba(255,255,255,.2) 2px, transparent 2px),linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px),linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -1px 38px, -2px -2px, -1px -1px, -1px -1px;
  height: 80vh;
}
.header-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  flex-wrap: wrap;
}
.header-contents .spacer {
  margin-right: 3rem;
}
.header-contents > * {
  margin: .5rem;
  filter: drop-shadow(2px 0px 2px rgba(0,0,0,.75));
}
.header-contents > a:hover {
  filter: drop-shadow(2px 0px 4px rgba(0,0,0,.9));
}
.header-contents > a:active {
  transform: translate(1px, 1px);
  filter: brightness(0.5);
}
.header-contents h1 {
  color: #FFFFFF;
  font-size: 3rem;
  margin-top: 0;
}
h2 {
  color: #FFFFFF;
  text-align: center;
  margin-top: 3rem;
  border-bottom: 2px solid #FFFFFF;
}
.content-button-link {
  text-decoration: none;
}
.content-button-link[href^="https://"] .content-button{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .7);
}
.content-button-link[href^="https://"] .content-button:hover{
  box-shadow: 8px 8px 8px rgba(0, 0, 0, .7);
  transform: translate(-1px, -1px);
}
.content-button-link[href^="https://"] .content-button:active{
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .7);
  transform: translate(1px, 1px);
}
.content-button-link:not([href^="https://"]) .content-button{
  background: #DDDDDD;
  transform: translate(1px, 1px);
}
.content-button {
    background: #FFFFFF;
    width: 80%;
    max-width: 960px;
    height: 15rem;
    margin: 1rem auto;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}
.content-button-text {
    margin: 2rem;
    color: #333;
}
.content-button-text-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.content-button-text-detail {
  font-size: .8rem;
}
.slide-list {
  width: 80%;
  max-width: 960px;
  margin: 1rem auto;
}
.slide-list li {
  color: #FFFFFF;
}
.slide-list li a {
  color: #cfd5ff;
}

@media screen and (max-width:980px) {
  header {
    height: 50vh;
  }
  .header-contents h1{
    font-size: 5rem;
  }
  .header-contents img{
    width: 10rem;
  }
  .spacer {
    width: 100%;
  }
}
